<div class="site-title">
  <h1>This is JS30</h1>
</div>
<div class="contents">
  <div class="contents-link">
    <%= link_to 'Drumkit', drumkit_path %>
  </div>
  <div class="contents-link">
    <%= link_to 'Clock', clock_path %>
  </div>
  <div class="contents-link">
    <%= link_to 'CSS Variables', css_vars_path %>
  </div>
</div>
